* {
  box-sizing: border-box;
}

body {
  transition: background 0.3s;
}

.calculator {
  height: 690px;
  width: 350px;
  overflow: hidden;

  background: #e0e0e0;
  box-shadow: 8px 8px 15px #bebebe, -8px -8px 15px #ffffff;
  border-radius: 25px;

  margin: 50px auto;
  padding-inline: 20px;

  align-self: center;
  justify-self: center;
}

.display {
  height: 150px;
  width: 310px;

  background: #e0e0e0;

  display: flex;
  align-items: center;

  margin: 0;
}

.display-input {
  height: 100px;
  width: 310px;
  font-size: 2em;
  text-align: right;
  background: #9e9e9e;
  color: orangered;

  border: none;
  border-radius: 10px;
  padding: 10px;

  box-shadow: inset 8px 8px 15px #7c7c7c, -8px -8px 15px #a5a5a5;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.buttons-backspace,
.toggle-light {
  grid-column: span 2;
  padding: 4px;
}

.buttons-backspace img {
  height: 32px;
  width: 32px;

  margin-top: 5px;
}

.buttons-erase {
  background-color: orangered;
  border-color: orange;
  color: rgb(250, 194, 89);
}

.buttons-equal {
  grid-column: span 4;
  background-color: #ff4500;
  border-color: orange;
  color: rgb(250, 194, 89);
}

.toggle-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  transition: flex-direction 0.3s ease, transform 0.3s ease;
}

.icon {
  font-size: 1.2em;
  transition: transform 0.3s ease;

  margin-right: 5px;
  margin-bottom: 5px;
}

.label {
  font-size: 1em;
  font-weight: bold;
  color: #000;
  transition: color 0.3s ease;

  margin-right: 6px;
  margin-bottom: 1px;
}

button {
  font-size: 1.5em;
  padding: 20px;
  border: 1px solid #ccc;
  cursor: pointer;

  background: #e0e0e0;
  border-radius: 12px;
  box-shadow: 2px 2px 4px #bebebe, -2px -2px 4px #ffffff;
  margin: 10px;
  transition: all 0.1s ease-in-out;
}

button:active {
  box-shadow: inset 6px 6px 10px #bebebe, inset -6px -6px 10px #ffffff;
}

button:hover {
  background: #eee;
}

/* DARK THEME */

body.dark {
  background-color: #353230;
}

body.dark .calculator {
  background-color: #272727;
  box-shadow: 8px 8px 15px #111, -8px -8px 15px #333;
}

body.dark .display {
  background-color: #272727;
}

body.dark .display-input {
  background: #3c3c3c;
  color: #ffa500;
  box-shadow: inset 8px 8px 15px #1f1f1f, -8px -8px 15px #181818;
}

body.dark button {
  background-color: #3a3a3a;
  color: #fff;
  box-shadow: 2px 2px 4px #111, -2px -2px 4px #444;
}

body.dark button:active {
  box-shadow: inset 6px 6px 10px #111, inset -6px -6px 10px #444;
}

body.dark button:hover {
  background-color: #444;
}

body.dark .buttons-erase,
body.dark .buttons-equal {
  background-color: darkorange;
  border-color: orange;
  color: white;
}

body.dark .theme-toggle {
  background: #2c2c2c;
  box-shadow: 2px 2px 4px #111, -2px -2px 4px #444;
}

body.dark .icon {
  margin-bottom: 6px;
}

body.dark .label {
  color: #fff;

  margin-left: 7px;
}

body.dark .toggle-inner {
  flex-direction: row-reverse;
}

@media (min-width: 601px) and (max-width: 1023px) {
  .calculator {
    height: 710px;
    width: 450px;
  }

  .display {
    height: 170px;
    width: 400px;
  }

  .display-input {
    height: 120px;
    width: 420px;
  }

  .icon {
    margin-left: 5px;
  }

  .label {
    margin-right: 10px;
  }

  body.dark .icon {
    margin-bottom: 5px;
  }

  body.dark .label {
    margin-left: 10px;
  }
}

@media (min-width: 1024px) and (max-width: 1100px) {
  .calculator {
    height: 810px;
    width: 600px;
  }

  .display {
    height: 210px;
    width: 560px;
  }

  .display-input {
    height: 150px;
    width: 580px;
  }

  .icon {
    margin-left: 10px;
  }

  .label {
    margin-right: 18px;
  }

  body.dark .icon {
    margin-right: 15px;
  }

  body.dark .label {
    margin-left: 15px;
  }

  button {
    padding: 25px;
  }
}

@media (min-width: 1101px) {
  .calculator {
    height: 800px;
    width: 600px;
  }

  .display {
    height: 210px;
    width: 560px;
  }

  .display-input {
    height: 150px;
    width: 580px;
  }

  .icon {
    margin-left: 15px;
  }

  .label {
    margin-right: 15px;
  }

  body.dark .icon {
    margin-right: 15px;
  }

  body.dark .label {
    margin-left: 15px;
  }

  button {
    padding: 25px;
  }
}
